<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_url("ghibli2.png") %>)">
  <div class="container">
    <h1><%= @list.name %></h1>
  </div>
</div>

<div class="container">
  <div class="lists">
    <div class="d-flex justify-content-end">
      <%= link_to "new bookmark", new_list_bookmark_path(@list), class: "btn btn-primary my-3" %>
    </div>
    <div class="row">
      <% @bookmarks.each do |item| %>
        <div class="col-6">
          <div class="card card-movie" style="width: 25rem;">
            <%= image_tag "ghibli.jpeg", alt: "Le Wagon", class:"card-img-top", alt:"card image cap", width: 200 %>
            <div class="card-body">
              <p class="card-text"><%= item.comment %></p>
              <div class="d-flex justify-content-end">
                <%= link_to "Delete",
                      bookmark_path(item),
                      method: :delete,
                      data: { confirm: "are you surreee?" },
                      class: "text-danger" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      </div>
    </div>
  </div>
  <%= link_to "Back", lists_path, class: "btn btn-primary ml-4" %>
</div>
